#calculator-wrap {
    width: 450px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    margin: 50px 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
}

#calculator-box {
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
}

.calculator {
    position: relative;
    display: grid;
    width: 400px;
    height: 460px;

}

.calculator .value {
    position: absolute;
    grid-column: 4;
    height: 110px;
    width: 400px;
    outline: none;
    border: none;
    text-align: right;
    font-size: 30px;
    font-weight: 900;
    padding: 57px;
    background: rgba(255, 255, 255, 0.45);
}

.num-hidden {
    display: none;
}

#num-box {
    width: 320px;
    height: 350px;
    position: absolute;
    margin: 118px 0 0 50px;
}

.num {
    width: 60px;
    height: 58px;
    border-radius: 50%;
    display: block;
    float: left;
    text-align: center;
    line-height: 55px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 8px 18px 0 0;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
    transition: 0.2s;
}

.fa-power-off {
    font-size: 16px;
    line-height: 45px;
}

.num:hover {
    transform: scale(1.15);
    color: #FF8B94;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
}

.num:active {
    color: #95e8c9;
}

.num-yellow {
    background: rgba(255, 211, 182, 0.4);
    border: 1px solid rgba(255, 211, 182, 0.8);
    border-left: 1px solid rgba(255, 211, 182, 0.3);
    border-top: 1px solid rgba(255, 211, 182, 0.3);
}

.num-yellow:hover {
    background: rgba(255, 211, 182, 0.6);
    border: 1px solid rgba(255, 211, 182, 1);
    color: #FF8B94;
}

.num-yellow:active {
    color: #95e8c9;
}

.num-baby {
    background: rgba(255, 170, 165, 0.4);
    border: 1px solid rgba(255, 170, 165, 0.8);
    border-left: 1px solid rgba(255, 170, 165, 0.3);
    border-top: 1px solid rgba(255, 170, 165, 0.3);
}


.num-baby:hover {
    background: rgba(255, 170, 165, 0.6);
    border: 1px solid rgba(255, 170, 165, 1);
    color: #ffe6cd;
}

.num-baby:active {
    color: #95e8c9;
}

.num-pink {
    background: rgba(255, 139, 148, 0.5);
    border: 1px solid rgba(255, 139, 148, 0.8);
    border-left: 1px solid rgba(255, 139, 148, 0.3);
    border-top: 1px solid rgba(255, 139, 148, 0.3);
}

.num-pink:hover {
    background: rgba(255, 139, 148, 0.7);
    border: 1px solid rgba(255, 139, 148, 1);
    color: #FFD3B6;
}

.num-pink:active {
    color: #95e8c9;
}