.calender {
    width: 305px;
    height: 340px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
    transition: 0.52s;
}

.calender:hover {
    transform: scale(1.3);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.7);
}

#dycalender {
    width: 100%;
    padding: 20px;
}

#dycalender table {
    width: 100%;
    margin-top: 40px;
}

#dycalender table tr:nth-child(1) td {
    font-weight: 900;
}

#dycalender table td {
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
}

#dycalender table td:nth-child(1){
    color: #f5838c;
}

#dycalender table td:nth-child(7){
    color: #68cea7;
}

#dycalender table td:hover{
    background: rgba(255, 211, 182, 0.4) !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
}

.dycalendar-month-container .dycalendar-today-date, .dycalendar-month-container .dycalendar-target-date {
    background: rgba(255, 170, 165, 0.4) !important;
    border: 1px solid rgba(255, 170, 165, 0.8);
    border-left: 1px solid rgba(255, 170, 165, 0.3);
    border-top: 1px solid rgba(255, 170, 165, 0.3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
}