#music-box {
    width: 680px;
    height: 170px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    margin: 570px 0 0 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
}

.music {
    width: 630px;
    height: 130px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.03);
}

.music h2 {
    width: 185px;
    height: 95px;
    font-size: 20px;
    font-weight: 900;
    padding: 37px 0 0 45px;
    border-left: 1px solid #333333FF;
}

.music-container {
    border-radius: 15px;
    display: flex;
    padding: 10px 20px;
    position: relative;
    margin-left: 25px;
    z-index: 10;

}

.img-container {
    position: relative;
    width: 120px;
    margin-top: 4px;
    transition: 0.5s;
}

.img-container:hover {
    transform: scale(1.5);
}

.music-dot {
    position: absolute;
    background: #e0e0e0;
    width: 15px;
    height: 15px;
    z-index: 50;
    border-radius: 50%;
    top: 20px;
    left: 28px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.img-back {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    top: -25.8px;
    left: -17.5px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    width: 90px;
    height: inherit;
    position: absolute;
    bottom: -16px;
    left: -9.9px;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 60px;
    z-index: 1;
    margin-left: -10px;
}

.action-btn {
    color: #333333FF;
    font-size: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.action-btn:nth-child(2) {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    margin-right: 25px;
}

.action-btn:hover {
    transform: scale(1.2);
    color: #FF8B94;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 1);
}

.action-btn:nth-child(2):hover {
    transform: scale(1.3);
}

.action-btn:focus {
    outline: none;
}

.music-info {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform .3s ease-in, opacity .3s ease-in;
    z-index: 0;
    width: calc(100% - 60px);
    padding: 10px 40px 0 40px;
}

.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-143%);
}

.music-info h4 {
    margin: 0;
}

.progress-container {
    background: rgba(255, 211, 182, 0.4);
    border: 1px solid rgba(255, 211, 182, 0.8);
    border-left: 1px solid rgba(255, 211, 182, 0.3);
    border-top: 1px solid rgba(255, 211, 182, 0.3);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 5px;
    width: 100%;
    transition: 0.3s;

}

.progress-container:hover {
    background: rgba(255, 211, 182, 0.9);
    border: 1px solid rgba(255, 211, 182, 1);
}

.progress {
    background: #FFAAA5;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: 0.3s;
}

.progress:hover {
    background: #FF8B94;

}


















