#menu-box {
    width: 60px;
    height: 790px;
    margin-left: 30px;
    position: relative;
}

.menu {
    position: absolute;
    top: 50px;
    list-style: none;
}

.goole a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../image/icons.png");
    background-size: cover;
    background-color:rgba(255,255,255,0.5);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.goole a:hover{
    transform: scale(1.3);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:rgba(255,255,255,0.8);
}

.naver a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../image/icons.png") 0 -58px;
    background-size: cover;
    background-color:rgba(255,255,255,0.5);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.3s;
}

.naver a:hover{
    transform: scale(1.3);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:rgba(255,255,255,0.8);
}

.youtube a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../image/icons.png") 0 -117px;
    background-size: cover;
    background-color:rgba(255,255,255,0.5);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.3s;
}

.youtube a:hover{
    transform: scale(1.3);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:rgba(255,255,255,0.8);
}

.nomad a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../image/icons.png") 0 -175px;
    background-size: cover;
    background-color:rgba(255,255,255,0.5);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.3s;
}

.nomad a:hover{
    transform: scale(1.3);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:rgba(255,255,255,0.8);
}

.dark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:rgba(255,255,255,0.5);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.5s;
    color: rgba(0,0,0,0.9);
    font-size: 25px;
}

.dark:hover{
    transform: scale(1.3);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color:rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.9);
}