.weather-box {
    width: 190px;
    height: 130px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    position: relative;
    transition: 0.5s;
}

.weather-box:hover{
    transform: scale(1.4);
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:rgba(255,255,255,0.6);
}

.weather {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 55px;
    height: 55px;
}

.weatherIcon{
    position: absolute;
    top: 10px;
    right: 12px;
}

.temp {
    display: block;
    position: absolute;
    top: 65px;
    left: 20px;
    width: 95px;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 900;
}

.city {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 120px;
    height: 20px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 20px;
}